<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to {{appName}}</title>
  </head>
  <body>
    Hi {{name}},
    <br />
    Welcome to {{appName}}. Your free trial starts today.
    <br />
    What happens next?
    <br />
    Keep an eye on your inbox as we’ll be sending you the best tips for {{appName}}.
    <br />
    Want to get more out of {{appName}}? Verify and get started by using below link...
    <br />
    {{link}}
  </body>
</html>